.nav-link:hover {
  color: aqua;
}

.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rating {
  color: rgb(235, 235, 1);
}

.loader {
  display: block;
  width: 100px;
  height: 100px;
  margin: 50px auto;
}
